<div class="row section_13_bg overflow-hidden {{ data.class }}" style="{{ data.style }}">
    <div class="section_13 col px-2">
        <div class="container cont-site">
            <h3 class="section_13__header text_bicolor text-center">{{ data.header }}</em></h3>
            <p class="section_13__text col-md-6 col-lg-5 text-sm-center text-start">{{ data.text }}</p>
            <a href={{ data.link_to }} class="text-decoration-none">
                <button class="button_yellow section_13__button overline-r overline_mob-r">{{ data.text_button }}</button>
            </a>
        </div>
    </div>
</div>