<div class="row section_17_bg overflow-hidden {{ data.class }}" style="{{ data.style }}">
    <div class="section_17 col">
        <div class="container cont-site">
            <div class="section_17__data">
                <div class="section_17__left">
                    <h3 class="section_17__header">{{ data.header }}</h3>
                    <p class="section_17__text_main">{{ data.text_main }}</p>
                </div>
                <div class="section_17__right">
                    <p class="section_17__text_add">{{ data.text_add }}</p>
                </div>
            </div>
        </div> 
    </div>
</div>