<div class="row section_21_bg {{ data.class }}"  style="background-image:  url({{ data.bg_img }})"> 
    <div class="section_21 col">
        <div class="container cont-site section_21__content">
                <div class="section_21__left">
                    <h2 class="section_21__header">{{ data.header }}</h2>
                    <h2 class="section_21__text">{{ data.text }}</h2>
                </div>
                <div class="section_21__right">
                    <a href={{ data.link_to }} class="section_21__link text-decoration-none">
                        <button class="button_yellow section_21__button">{{ data.button }}</button>
                    </a>
                </div>
        </div>
    </div>
</div>