<div class="row section_13_bg overflow-hidden {{ data.class }}" style="{{ data.style }}">
    <div class="section_13 col px-0">
        <div class="container cont-site">
            <h2 class="section_13__header mb-0 pb-0 text-center">{{ data.header }}</h2>
            <p class="section_13__text text_heading_add mx-auto col-md-6 col-lg-5 text-sm-center text-start text-md-center mt-4">{{ data.text }}</p>
                <a href={{ data.link_to }} class="btn btn-yellow-1 section_13__button mx-auto overline-r overline_mob-r mt-4">{{ data.text_button }}</a>
            </div> 
        </div>
</div>
