<div class="row section_17_bg overflow-hidden {{ data.class }}" style="{{ data.style }}">
    <div class="section_17 col px-0">
        <div class="container cont-site">
            <div class="section_17__data col-12 flex-column flex-md-row d-flex justify-content-between align-items-start">
                <div class="section_17__left col-12 col-md-5 text-center text-md-start">
                    <h3 class="section_17__header mb-0">{{ data.header }}</h3>
                    <p class="section_17__text_main mb-0">{{ data.text_main }}</p>
                </div>
                <div class="section_17__right col-12 col-md-6 text-center text-md-start">
                    <p class="section_17__text_add mb-0">{{ data.text_add }}</p>
                </div>
            </div>
        </div> 
    </div>
</div>