<div class="block_9" style="{{ data.props }}">
    <p class="block_9__name mb-0 text-capitalize">{{ data.name }}</p>
    <p class="block_9__title mb-0 text-uppercase">{{ data.title }}</p>
    <div class="block_9__item d-flex align-items-center">
        <img src="./assets/img/svg/phone_1.svg" alt="phone" class="block_9__img_phone">
        <p class="block_9__text mb-0">{{ data.phone }}</p>
    </div>
    <div class="block_9__item d-flex align-items-center">
        <img src="./assets/img/svg/email_1.svg" alt="phone" class="block_9__img block_9__img_email">
        <p class="block_9__text mb-0">{{ data.email }}</p>
    </div>
</div>