<div class="block_2">
    <h3 class="block_2__header text_bicolor">{{ data.header }}</h3>
    <p class="block_2__text">{{ data.text_main }}</p>
    <p class="block_2__text_add">{{ data.text_add }}</p>

    <a href={{ data.link_to }} class="block_2__link text-decoration-none">
        <button class="block_2__button button_yellow">{{ data.button }}</button>
    </a>
</div>    
