<div class="block_2">
    <h3 class="block_2__header text_bicolor mb-0  position-relative text-start text-sm-center text-lg-start">{{ data.header }}</h3>
    <p class="block_2__text mb-0 position-relative text-start text-sm-center text-lg-start">{{ data.text_main }}</p>
    <p class="block_2__text_add mb-0 position-relative text-start text-sm-center text-lg-start">{{ data.text_add }}</p>

    <a href={{ data.link_to }} class="btn btn-yellow-1 block_2__button d-flex mx-auto text-center text-lg-start mx-lg-0 mt-5 mb-0 mb-lg-0">{{ data.button }}</a>
</div>    
