<div class="block_9" style="{{ data.props }}">
    <p class="block_9__name">{{ data.name }}</p>
    <p class="block_9__title">{{ data.title }}</p>
    <div class="block_9__item">
        <img src="./assets/img/svg/phone_1.svg" alt="phone" class="block_9__img_phone">
        <p class="block_9__text">{{ data.phone }}</p>
    </div>
    <div class="block_9__item">
        <img src="./assets/img/svg/email_1.svg" alt="phone" class="block_9__img block_9__img_email">
        <p class="block_9__text">{{ data.email }}</p>
    </div>
</div>