<div class="block_4">
    <div class="block_4__text-cont">
        <h3 class="block_4__header text_bicolor">{{ data.header }}</em></h3>
        <p class="block_4__text">{{ data.text_main }}</p>
        <p class="block_4__text_add">{{ data.text_add }}</p>
    </div>
    <a href={{ data.link_to }} class="block_4__link text-decoration-none">
        <button class="block_4__button">{{ data.button }}</button>
    </a>
</div>    
