<div class="block_input_1__searcharea {{ searcharea_p }} d-flex align-items-center">
    <input class="block_input_1__input {{ search_p }} position-relative" type={{ type }} placeholder="{{ ph }}">
    <button class="block_input_1__button button_yellow_arrow_60 {{ button_p }}"></button>
</div>
