<div class="block_4 d-flex flex-column justify-content-between align-items-start">
    <div class="block_4__text-cont">
        <h3 class="block_4__header position-relative mb-0 text-start text-sm-center text-lg-start">{{ data.header }}</em></h3>
        <p class="block_4__text position-relative mb-0 text-center text-start text-sm-center text-lg-start ">{{ data.text_main }}</p>
        <p class="block_4__text_add position-relative mb-0 text-center text-start text-sm-center text-lg-start">{{ data.text_add }}</p>
    </div>
    <a href={{ data.link_to }} class="block_4__button text-uppercase text-blue-1 text-decoration-none position-relative text-center mb-0 bg-transparent mt-4 mb-4 mb-md-0">{{ data.button }}</a>
</div>    
 