<div class="block_4 d-flex flex-column justify-content-between align-items-start">
    <div class="block_4__text-cont">
        <h3 class="block_4__header position-relative mb-0  text-center text-lg-start text_bicolor">{{ data.header }}</em></h3>
        <p class="block_4__text position-relative mb-0 text-center text-lg-start ">{{ data.text_main }}</p>
        <p class="block_4__text_add position-relative mb-0 text-center text-lg-start">{{ data.text_add }}</p>
    </div>
    <a href={{ data.link_to }} class="block_4__link text-decoration-none">
        <button class="block_4__button text-uppercase position-relative mx-auto text-center mb-0">{{ data.button }}</button>
    </a>
</div>    
 