{% set markets = [
    {
        link: "automotive.html",
        icon: "./assets/img/svg/tyre.svg",
        text: "Automotive",
        id: "au"
    },   
    {
        link: "electrical-insulation.html",
        icon: "./assets/img/svg/bolt.svg",
        text: "Electrical Insulation",
        id: "ei"
    },   
    {
        link: "home-commercial.html",
        icon: "./assets/img/svg/pot.svg",
        text: "Home & Commercial Kitchen",
        id: "hc"
    },   
    {
        link: "small-engine.html",
        icon: "./assets/img/svg/v-engine.svg",
        text: "Small Engine",
        id: "se"
    },   
    {
        link: "lighting.html",
        icon: "./assets/img/svg/light-bulb.svg",
        text: "Lighting",
        id: "lt"
    },   
    {
        link: "oil-gas.html",
        icon: "./assets/img/svg/valve.svg",
        text: "Oil & Gas",
        id: "og"
    }   
] %}



{% set products = [
    {
        link: "pn-rr.html",
        text: "Phenolic Novolac & Resol Resins"
    },   
    {
        link: "pmc.html",
        text: "Phenolic Molding Materials"
    },   
    {
        link: "bmc.html",
        text: "BMC/ Thermoset Polyester Molding Materials"
    },   
    {
        link: "mp-mm.html",
        text: "Melamine-Phenolic Molding Materials"
    } 
] %}
    


<div class="nav_bottom__btn position-absolute d-none d-xl-block end-0 p-0">
    <button type="button" class="navbtn button_yellow_nav" data-navbtn="contact_modal">contact</button> 

</div>


<div class="row nav_bottom">
    <div class="nav_bottom_menu-wrap col p-0 bg-white-1">
        <div class="nav_bottom_menu container cont-site d-flex align-items-center justify-content-between px-0">
            <a href="home.html"><img class="nav_bottom__logo" src="./assets/img/svg/logo_plenco_blue.svg" alt="Plenco Logo" ></a>
            <div class="nav_bottom__links d-none d-md-flex align-items-center justify-content-between ms-0 ms-xl-4">
                <div class="nav_bottom__link-cont d-flex align-items-center cursor-pointer navbtn text-center text-xl-start" role="button" data-navbtn="nav-section_markets" data-navbtnSelectable>
                    <p class="nav_bottom__link text-uppercase text-black-1 m-0">Markets & Applications</p> 
                </div>
                <div class="nav_bottom__link-cont d-flex align-items-center cursor-pointer navbtn" role="button" data-navbtn="nav-section_products" data-navbtnSelectable>
                    <p class="nav_bottom__link text-uppercase text-black-1 m-0" >products</p> 
                </div>
                <div class="nav_bottom__link-cont d-flex align-items-center position-relative">
                    <a href="reports-resources.html" class="nav_bottom__link text-uppercase text-black-1 m-0 stretched-link">Reports & Resources</a>    
                </div>
                <div class="nav_bottom__btn_yellow d-inline-block d-xl-none p-0 ms-4">
                    <button  type="button" class="navbtn button_yellow_nav text-uppercase text-black-1" data-navbtn="contact_modal"> contact</button>
                </div>

            </div>

            <div class="nav_bottom__btn_mob d-inline-block d-md-none d-xl-none navbtn ms-4 p-0 h-100" role="button" data-navbtn="mob_main">
                <button class="button_yellow_nav_mob d-flex flex-column justify-content-end" data-obj="nav__btn_mob">
                    <div class="button_yellow_nav_mob__top_left button_yellow_nav_mob_anim position-absolute bg-black-1"></div>
                    <div class="button_yellow_nav_mob__top_right button_yellow_nav_mob_anim position-absolute bg-black-1"></div>
                    <div class="button_yellow_nav_mob__middle position-absolute bg-black-1"></div>
                    <div class="button_yellow_nav_mob__bottom_left button_yellow_nav_mob_anim position-absolute bg-black-1"></div>
                    <div class="button_yellow_nav_mob__bottom_right button_yellow_nav_mob_anim position-absolute bg-black-1"></div>
                    <div class="button_yellow_nav_mob__text-cont d-block overflow-hidden">
                        <span class="button_yellow_nav_mob__text_1 uppercase d-block text-black-1">menu</span>
                        <span class="button_yellow_nav_mob__text_2 uppercase d-block text-black-1">exit</span>
                    </div>
                </button> 
            </div>

        </div>
    </div>


    {# DROP #}


    <div class="nav_bottom__drop__cont position-relative overflow-hidden mx-0 px-0 bg-transparent">
        <div class="nav_bottom__drop overflow-hidden position-relative collapse px-0 top-0" data-obj="nav_bottom__drop_main" data-bs-toggle="false" data-nav-collapsed>
            <div class="nav_bottom__drop__cont-1 overflow-hidden cont-site bg-blue-l1">
                <div class="nav_bottom__drop__input-block col-12 d-flex align-items-center position-relative">
                    <div class="nav_bottom__drop__input-cont col-12 d-flex justify-content-between align-items-center border-bottom border-2 border-blue-2">
                        <input type="text" class="nav_bottom__drop__input h-100 ps-2 col bg-transparent" placeholder="Search">
                        <button class="nav_bottom__drop__input-btn mx-3"></button>
                    </div>
                </div>

                <div class="nav_bottom__drop__block_1 mb-3" id="nav_bottom__drop__block_1">
                    <a role="button" class="nav_bottom__btn_1 nav_bottom__btn_resources bg-blue-1 navbtn col-12 text-uppercase mt-2 text-white-1 d-flex align-items-center justify-content-center mt-2" data-obj="nav_bottom__btn_markets" type="button" data-navbtn="nav_bottom__drop_markets"  data-nav-collapsed>Markets & Applications</a>
                    <a role="button" class="nav_bottom__btn_1 nav_bottom__btn_products bg-blue-1 navbtn col-12 text-uppercase text-white-1 d-flex align-items-center justify-content-center mt-3" data-obj="nav_bottom__btn_products" type="button" data-navbtn="nav_bottom__drop_products" data-nav-collapsed>Products</a>
                    <a href="reports-resources.html" class="nav_bottom__btn_1 col-12 text-uppercase bg-blue-1 text-white-1 d-flex align-items-center justify-content-center mt-3">Reports & Resources</a>
                    <button  type="button" class="navbtn nav_bottom__btn_1 nav_bottom__btn_1_spec bg-yellow-1 col-12 text-uppercase text-black-1 position-relative d-flex align-items-center justify-content-center text-black-1 mt-3" data-navbtn="contact_modal">contact</button>

                </div>
            </div>

            <div class="nav_bottom__drop__cont-2 cont-site bg-blue-3">
                <div class="nav_bottom__drop__block_2 row row-cols-2 g-2 mt-0" id="nav_bottom__drop__block-2">
                    <div class="nav_bottom__btn_2-wrap">
                        <a href="about.html" class="nav_bottom__btn_2 text-white-1 bg-transparent d-flex align-items-center justify-content-center text-capitalize border border-2 border-blue-1">About</a>
                    </div>
                    <div class="nav_bottom__btn_2-wrap">
                        <a href="facility.html" class="nav_bottom__btn_2 text-white-1 bg-transparent d-flex align-items-center justify-content-center text-capitalize border border-2 border-blue-1">Facility</a>
                    </div>
                    <div class="nav_bottom__btn_2-wrap">
                        <a href="research-development.html" class="nav_bottom__btn_2 text-white-1 bg-transparent d-flex align-items-center justify-content-center text-capitalize border border-2 border-blue-1">Research & Development</a>
                    </div>
                    <div class="nav_bottom__btn_2-wrap">
                        <a href="news-blog.html" class="nav_bottom__btn_2 text-white-1 bg-transparent d-flex align-items-center justify-content-center text-capitalize border border-2 border-blue-1">News</a>
                    </div>
                    <div class="nav_bottom__btn_2-wrap">
                        <a href="certifications.html" class="nav_bottom__btn_2 text-white-1 bg-transparent d-flex align-items-center justify-content-center text-capitalize border border-2 border-blue-1">Certifications</a>
                    </div>
                    <div class="nav_bottom__btn_2-wrap">
                        <a href="careers.html" class="nav_bottom__btn_2 text-white-1 bg-transparent d-flex align-items-center justify-content-center text-capitalize border border-2 border-blue-1">Careers</a>
                    </div>
                </div>
            </div>
            <div class="nav__drop__opacity-block col-12 m-0 p-0 opacity-75 bg-blue-3"></div>

        </div>




        <div class="overflow-hidden position-relative collapse" data-bs-toggle="false" data-obj="nav_bottom__drop_markets" data-nav-collapsed>
            <div class="nav_bottom__drop__back cont-site d-flex align-items-center navbtn col-12 left-0 bg-blue-l1" type="button" data-navbtn="mob_back">
                <div class="nav_bottom__drop__back__arrow position-relative bg-blue-1"></div>
                <p class="nav_bottom__drop__back__text my-0 ms-3 text-black-1">Back to the Main Menu</p>    
            </div>
            <div class="nav_bottom__drop__cont-add-menu cont-site overflow-hidden m-0 bg-blue-3 pb-4" id="nav_bottom__markets">
                <div class="nav_bottom__drop__cont-add-menu-wrap">
                    <h2 class="nav_bottom__drop__add-menu__header text-white-1 mb-0 text-uppercase">Markets & Applications</h2>
                    <div class="nav_bottom__drop__add-menu__links d-flex flex-column mt-3">
                        {% for item in markets %}
                            <div class="wrapper position-relative">
                                <div class="nav_bottom__drop__add-menu__link-cont col-12 py-2 d-flex justify-content-between align-items-center border-bottom border-2 border-blue-1">
                                    <p class="nav_bottom__drop__add-menu__link_text text-capitalize my-0 text-start text-white-1">{{ item.text }}</p>
                                    <div class="nav_bottom__drop__add-menu__arrow position-relative bg-yellow-1"></div>
                                </div>
                                <a href={{ item.link }} class="stretched-link"></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="markets-applications.html" class="btn btn-yellow-1 nav_bottom__drop__add-menu__button w-100 p-3 h-auto" id="nav_bottom__view-markets">View All<br>Markets & Applications</a>
            </div>
            <div class="nav__drop__opacity-block col-12 m-0 p-0 opacity-75 bg-blue-3"></div>
        </div>


        <div class="overflow-hidden position-relative collapse" data-bs-toggle="false" data-obj="nav_bottom__drop_products" data-nav-collapsed>
            <div class="nav_bottom__drop__back cont-site d-flex align-items-center navbtn col-12 left-0 bg-blue-l1" type="button" data-navbtn="mob_back">
                <div class="nav_bottom__drop__back__arrow position-relative bg-blue-1"></div>
                <p class="nav_bottom__drop__back__text my-0 ms-3 text-black-1">Back to the Main Menu</p>    
            </div>
            <div class="nav_bottom__drop__cont-add-menu cont-site pb-4 bg-blue-3 overflow-hidden m-0 d-flex flex-column justify-content-between" id="nav_bottom__products">
                <div class="nav_bottom__drop__cont-add-menu-wrap">
                    <h2 class="nav_bottom__drop__add-menu__header mb-0 text-white-1 text-uppercase">Plenco’s Products</h2>
                    <div class="nav_bottom__drop__add-menu__links d-flex flex-column mt-3">
                        {% for item in products %}
                        <div class="wrapper position-relative">
                            <div class="nav_bottom__drop__add-menu__link-cont py-2 col-12 d-flex justify-content-between align-items-center border-bottom border-2 border-blue-1">
                                <p class="nav_bottom__drop__add-menu__link_text text-capitalize my-0 text-start text-white-1">{{ item.text }}</p>
                                <div class="nav_bottom__drop__add-menu__arrow position-relative"></div>
                            </div>
                            <a href={{ item.link }} class="stretched-link"></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="products.html" class="btn btn-yellow-1 nav_bottom__drop__add-menu__button w-100 p-3 h-auto" id="nav_bottom__view-products">View All products</a>
            </div>
            <div class="nav__drop__opacity-block col-12 m-0 p-0 opacity-75 bg-blue-3"></div>
        </div>

        
    </div>










    {# SECTIONS #}

    <div class="nav-section_markets bg-blue-3 overflow-hidden collapse col-12 position-fixed" data-obj="nav-section_markets" data-bs-toggle="false" data-nav-collapsed>
        <div class="container">
            <h2 class="nav-section_markets__header mb-0 text-white-1 text-uppercase">Markets & Applications</h2>
            <div class="nav-section_markets__items row d-flex justify-content-between flex-wrap mt-4 gy-4 mx-n3">
                {% for item in markets %}
                    <div class="nav-section_markets__item-wrap col-4 px-3 text-white-1 position-relative">
                        <div class="nav-section_markets__item bg-blue-1 d-flex align-items-center px-3 mb-0">
                            <img src={{ item.icon }} alt={{ item.text }} class="nav-section_markets__item__icon">
                            <h2 class="nav-section_markets__item__text text-capitalize ms-4 mb-0">{{ item.text }}</h2>
                            <a href={{ item.link }} class="stretched-link"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="markets-applications.html" class="btn btn-yellow-1 nav-section_markets__button col-6 mx-auto px-3" id="nav-section_markets__view-all">View all Markets & Applications</a>
        </div>
    </div>


    <div class="nav-section_products bg-blue-3 overflow-hidden collapse position-fixed col-12" data-obj="nav-section_products"  data-bs-toggle="false" data-nav-collapsed>
        <div class="container">
            <h2 class="nav-section_products__header text-white-1 text-uppercase">Plenco’s Products</h2>
            <div class="nav-section_products__items d-flex justify-content-between flex-wrap mt-4 mx-n3">
                {% for item in products %}
                    <div class="nav-section_products__item-wrap col-3 mx-0 px-3 text-white-1 position-relative">
                        <div class="nav-section_products__item bg-blue-1 d-flex flex-column align-items-center cursor-pointer px-2 py-4">
                            <div class="nav-section_products__item__inner-cont d-flex align-items-center col-12 h-100 pb-1">
                                <p class="nav-section_products__item__text ms-0 text-capitalize mb-0">{{ item.text }}</p>
                            </div>
                            <div class="border-5 border w-100 border-blue-l2"></div>
                            <a href={{ item.link }} class="stretched-link"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="products.html" class="btn btn-yellow-1 nav-section_products__button button_yellow col-5 mx-auto" id="nav-section_products__view-all">View all Products</a>
        </div>
    </div>


    <div class="nav-section_search position-fixed overflow-hidden collapse bg-blue-1 bg-opacity-75" data-obj="nav-section_search" data-bs-toggle="false" data-nav-collapsed>
        <div class="container">
            <form class="container nav-section_search-cont me-0 col-10 col-lg-8 col-xl-7 pt-5 pb-4 bg-blue-3">
                <p class="nav-section_search__header text-blue-l2">search the plenco website</p>
                <div class="nav-section_search__input-cont ps-0 border-bottom border-5 border-blue-l3">
                    <input type="text" class="nav-section_search__input ps-0 col-100 text-white-1 bg-transparent" placeholder="Search">
                </div>
                <div class="nav-section_search__checkboxes d-flex mt-4">
                    <div class="form-check form-check-inline nav-section_search__checkbox-item me-5 ps-0">
                        <input type="checkbox" class="form-check-input nav-section_search__checkbox position-absolute opacity-0" id="search__filter-1" value="filter-1" name="search__check_1">
                        <label for="search__filter-1" class="form-check-label nav-section_search__label d-inline-flex align-items-center text-blue-l2">Filter1</label>
                    </div>
                    <div class="form-check form-check-inline nav-section_search__checkbox-item me-5 ps-0">
                        <input type="checkbox" class="form-check-input nav-section_search__checkbox position-absolute opacity-0" id="search__filter-2" value="filter-2" name="search__check_2">
                        <label for="search__filter-2" class="form-check-label nav-section_search__label d-inline-flex align-items-center text-blue-l2">Filter2</label>
                    </div>
                    <div class="form-check form-check-inline nav-section_search__checkbox-item me-5 ps-0">
                        <input type="checkbox" class="form-check-input nav-section_search__checkbox position-absolute opacity-0" id="search__filter-3" value="filter-3" name="search__check_3">
                        <label for="search__filter-3" class="form-check-label nav-section_search__label d-inline-flex align-items-center text-blue-l2">Filter3</label>
                    </div>
                    <div class="form-check form-check-inline nav-section_search__checkbox-item me-5 ps-0">
                        <input type="checkbox" class="form-check-input nav-section_search__checkbox position-absolute opacity-0" id="search__filter-4" value="filter-4" name="search__check_4">
                        <label for="search__filter-4" class="form-check-label nav-section_search__label d-inline-flex align-items-center text-blue-l2">Filter4</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-yellow-1 nav-section_search__button col-4 offset-4 mt-4">search</button>
            </form>
        </div>
    </div>

</div>




